<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>873C0A6E-EB21-41CF-A091-EF614E82E0A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C18CDD4B-13D5-45A5-8480-F09B2F6DD12C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B6420150-45C5-4342-9765-F46FB53A4470</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>873C0A6E-EB21-41CF-A091-EF614E82E0A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D5D1F21A-3C91-40D3-9E19-3A219679D641</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>873C0A6E-EB21-41CF-A091-EF614E82E0A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>zhouqi</string>
	<key>description</key>
	<string>ssh script</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>script</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sh ~/Scripts/"{query}".sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>873C0A6E-EB21-41CF-A091-EF614E82E0A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>run shell</string>
				<key>text</key>
				<string>script</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6420150-45C5-4342-9765-F46FB53A4470</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>script done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C18CDD4B-13D5-45A5-8480-F09B2F6DD12C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>script</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>python script.py "{query}"</string>
				<key>title</key>
				<string>script</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D5D1F21A-3C91-40D3-9E19-3A219679D641</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>run shell script</string>
	<key>uidata</key>
	<dict>
		<key>873C0A6E-EB21-41CF-A091-EF614E82E0A9</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>B6420150-45C5-4342-9765-F46FB53A4470</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>C18CDD4B-13D5-45A5-8480-F09B2F6DD12C</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>D5D1F21A-3C91-40D3-9E19-3A219679D641</key>
		<dict>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
